
<ion-header>
	<ion-navbar>
		<ion-title>Panoramax</ion-title>
		<!--
		<ion-buttons end>
			<button ion-button round icon-left (click)="cancelarOrden()">
				<ion-icon name="arrow-dropleft"></ion-icon>Cancelar
			</button>
			<button ion-button round icon-right (click)="switchTabs()">
				Siguiente<ion-icon name="arrow-dropright"></ion-icon>
			</button>
		</ion-buttons>
	-->
	</ion-navbar>
</ion-header>
<ion-content padding>
<h2 style="text-align: center;" class="tituloCategoria">Forma de entrega</h2>
 <div class="spacer" style="height: 20px;"></div>
<ng-container *ngFor="let tipoEntrega of tiposEntrega">
<ion-row>
	<ion-col [attr.col-12]="true">
		<ion-list-header>
			<ion-checkbox [(ngModel)]="tipoEntrega.selected"></ion-checkbox>
			<ion-label>{{tipoEntrega.nombre}}</ion-label>
		</ion-list-header>
	</ion-col>
</ion-row>

</ng-container>
 <div class="spacer" style="height: 20px;"></div>
<h2 style="text-align: center;" class="tituloCategoria">Observaciones</h2>
 <ion-list>
  <ion-item>
    <ion-textarea placeholder="Observaciones"  rows="8"  [(ngModel)]="observaciones"></ion-textarea>
  </ion-item>
    </ion-list>
 <div class="spacer" style="height: 20px;" ng-repeat-end></div>
    <ion-list>
    	<ion-item>
    		<ion-label>Dirección de envío:</ion-label>
	           <ion-select [(ngModel)]="direccionPedido" [ngModelOptions]="{standalone: true}" (ngModelChange)="CheckAddress(direccionPedido)">
	         	<ion-option value="nva"> Agrega una nueva dirección</ion-option>
			    <ion-option  *ngFor="let direccion of direcciones"  value="{{ direccion.Id }}"
			    ng-selected="direccion.Id==direccion">{{ direccion.tipoDireccion }} {{ direccion.Num1}} # {{ direccion.Num2 }} - {{ direccion.Num3 }}
			   </ion-option>
			 </ion-select>
  	   </ion-item>
    </ion-list>
    <ion-item>
		<button ion-button round full type="submit" [color]="Blue" (click)="EnviarPedidoPanoramax()">
			<ion-icon name="checkmark"></ion-icon>Remitir Orden
		</button>
	</ion-item>
	<ion-item>
		<button ion-button round full type="submit" [color]="Blue" (click)="cancelarOrden()">
			<ion-icon name="checkmark"></ion-icon>Borrar Todo
		</button>
	</ion-item>
</ion-content>
