<!--
  Generated template for the OrtodonciaCirugiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Panoramax</ion-title>
		<ion-buttons end>
			<button ion-button round icon-left (click)="cancelarOrden()">
				<ion-icon name="arrow-dropleft"></ion-icon>Cancelar				
			</button>
			<button ion-button round icon-right (click)="switchTabs()">
				Siguiente<ion-icon name="arrow-dropright"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>
			<img src="assets/img/logo.gif">
		</ion-card-header>
		<ion-card-content class="mensaje">
			Escoja paquetes preestablecidos para ortodoncia, cirugía, implantología, entre otros
		</ion-card-content>
	</ion-card>
	<ion-label class="tituloCategoria">
		Estudios para Ortodoncia
	</ion-label>
	<ion-grid>
		<ng-container *ngFor="let categoria of categorias">

			<ng-container *ngIf="categoria.Id != 12 && categoria.Id != 13">

				<ion-row *ngIf="categoria.Id == 6">
					<ion-col  [attr.col-12]="true">
						<ion-label class="tituloCategoria">
							Otros Estudios
						</ion-label>
					</ion-col>
				</ion-row>

				<ion-row>			
					<ion-col [attr.col-12]="true" >
						<ion-list-header class="categoria">
							<ion-checkbox [(ngModel)]="checkboxes['C'+categoria.Id]" (click)="gestionItemPedido(categoria.Id, null)"></ion-checkbox>
							<ion-label>{{categoria.nombre}}</ion-label>	
						</ion-list-header>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-grid>
						<ion-row *ngIf="categoria.Id == 6 || categoria.Id == 8">
							<ion-col [attr.col-12]="true">
								<ion-label>
									Tomografía*
								</ion-label>
							</ion-col>
						</ion-row>

						<ion-row>
							<ng-container *ngFor="let subCategoria of categoria.SubCategoria">

								<ion-col *ngIf="subCategoria.Id == 43 || subCategoria.Id == 46 || subCategoria.Id == 54 || subCategoria.Id == 60"  [attr.col-12]="true" class="subcategoria">
									<ion-item>
										<ion-label class="tituloSubCategoria">
											{{subCategoria.clase}}
										</ion-label>
									</ion-item>
								</ion-col>

								<ion-col *ngIf="subCategoria.CssClass == 'col-100'" [attr.col-12]="true" class="subcategoria">
									<ion-item >

										<ion-checkbox name="{{subCategoria.nombre}}" id="{{subCategoria.nombre}}" [(ngModel)]="checkboxes[categoria.Id +''+ subCategoria.Id]" *ngIf="subCategoria.campo == 'check'" (click)="gestionItemPedido(categoria.Id, subCategoria.Id)"></ion-checkbox>
										<ion-label *ngIf="subCategoria.campo != 'texto' && subCategoria.campo != 'mcpu'">{{subCategoria.nombre}}</ion-label>

										<ion-label *ngIf="subCategoria.campo == 'mcpu'">{{subCategoria.clase}}</ion-label>

									</ion-item>
								</ion-col>
							</ng-container>
						</ion-row>
					</ion-grid>
				</ion-row>
			</ng-container>
		</ng-container>
	</ion-grid>
</ion-content>