<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Panoramax</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<form ng-submit="doUpdateProfile()">
   <div class="spacer" style="height: 15px;"></div>
   <h3 style="text-align: center;">Mi perfil</h3>
   <div class="spacer" style="height: 15px;"></div>
   <ion-list>
    <ion-item>
     <ion-label>
      <ion-icon name="person-add"></ion-icon>
    </ion-label>
    <ion-input type="person" placeholder="Nombre" [(ngModel)]="usr.nombres" [ngModelOptions]="{standalone: true}" >
    </ion-input>
  </ion-item>
  <ion-item>
   <ion-label>
    <ion-icon name="person-add"></ion-icon>
  </ion-label>
  <ion-input type="person" placeholder="Apellido" [(ngModel)]="usr.apellidos" [ngModelOptions]="{standalone: true}">
  </ion-input>
</ion-item>
<ion-item>
  <ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-label>
  <ion-input type="email" placeholder="Ingresa tu correo" [(ngModel)]="usr.correo" [ngModelOptions]="{standalone: true}">
  </ion-input>
</ion-item>
<ion-item>
  <ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-label>
  <ion-input  type="number"  placeholder="Ingresa tu teléfono" [(ngModel)]="usr.telefono" [ngModelOptions]="{standalone: true}">
  </ion-input>
</ion-item>

</ion-list>
<ion-item>
 <button type="submit" ion-button round full  [color]="Blue" (click)="Actualizar(usr)" >
  <ion-icon name="refresh-circle"></ion-icon>&nbsp;Actualizar perfil
</button>
</ion-item>
<ion-item>
 <button type="submit" ion-button round full  [color]="Blue" (click)="Buscar()" >
  <ion-icon name="home"></ion-icon>&nbsp;Direccion perfil
</button> 
</ion-item>
</form>
</ion-content>