<ion-header>
	<ion-navbar>
		<ion-title>Panoramax</ion-title>
		<ion-buttons end>
			<button ion-button round icon-left (click)="cancelarOrden()">
				<ion-icon name="arrow-dropleft"></ion-icon>Cancelar
			</button>
			<button ion-button round icon-right (click)="switchTabs()">
				Siguiente<ion-icon name="arrow-dropright"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<!--

<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Paciente</ion-title>
     <button class="button button-assertive" ng-click="cerrarNvaPaciente()"><i class="icon ion-close"></i></button>
  </ion-navbar>
</ion-header>
-->
<ion-content padding>

	 <form ng-submit="nvaPaciente()" >
      <div class="spacer" style="height: 10px;"></div>
      <h5 class="text-center tituloCategoria">Ingresar datos del paciente</h5>
      <div class="spacer" style="height: 10px;"></div>
 <!-- <ion-card>
     <ion-card-content >
      	 <h4 class="text-center">Ingrese el nombre del paciente a buscar</h4>
 		<ion-item>
	    <ion-label>
	       <ion-icon name="person-add"></ion-icon>
		    </ion-label>
		    <ion-input type="person" placeholder="Nombre paciente" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <button  class="buttonprofilesec" ion-button round full color="danger" (click)="setFilteredItems()">
        <ion-icon name="search"></ion-icon>
      </button>
   	</ion-card-content>
   </ion-card>
<div class="spacer" style="height: 10px;"></div>
 <ion-card>
      <ion-card-content >
    <ion-list>
    	<ion-item>
    		<ion-label>Pacientes Registrados:</ion-label>
	           <ion-select [(ngModel)]="pacienteLista" [ngModelOptions]="{standalone: true}" (ngModelChange)="CheckAddress(pacienteLista)">
	         	<ion-option value="nva"> Ingresar datos del Paciente</ion-option>
			    <ion-option  *ngFor="let pacie of pacientes"  value="{{ pacie.Id }}"
			    ng-selected="pacie.Id==pacie">{{ pacie.nombres }} {{ pacie.apellidos}}
			   </ion-option>
			 </ion-select>
  	   </ion-item>
    </ion-list>
</ion-card-content>
</ion-card>
<div class="spacer" style="height: 10px;"></div> -->
 <ion-card>
      <ion-card-content >
     <ion-list>
        <ion-item>
	    <ion-label>
	       <ion-icon name="person-add"></ion-icon>
		    </ion-label>
		    <ion-input type="person" placeholder="Nombre" [(ngModel)]="paciente.nombres" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="person-add"></ion-icon>
		    </ion-label>
		    	<ion-input type="person" placeholder="Apellido" [(ngModel)]="paciente.apellidos" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="call"></ion-icon>
		    </ion-label>
		    	<ion-input type="number" placeholder="Teléfono" [(ngModel)]="paciente.telefono" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="calendar"></ion-icon>
		    </ion-label>
		    	<ion-input type="number" placeholder="Edad" [(ngModel)]="paciente.edad" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="mail"></ion-icon>
		    </ion-label>
		    	<ion-input type="email" placeholder="Email" [(ngModel)]="paciente.email" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="card"></ion-icon>
		    </ion-label>
		    	<ion-input type="number" placeholder="Identificación" [(ngModel)]="paciente.cedula" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 <ion-label>
	       		<label>Fecha de nacimiento:</label>
		    </ion-label>

		    		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="paciente.fechaNacimiento" [ngModelOptions]="{standalone: true}"></ion-datetime>
	 	 </ion-item>
      </ion-list>
       <ion-item>
       	 <button class="buttonprofile" type="submit" ion-button round full color="submit" (click)="Guardar()" >
	      <ion-icon name="archive"></ion-icon>&nbsp;Guardar paciente
	    </button>
	    <!--<button type="submit" ion-button round full [color]="Blue" (click)="Actualizar()" >
	      <ion-icon name="archive"></ion-icon>&nbsp;Actualizar paciente
   		 </button>
   		  <button type="submit" ion-button round full [color]="Blue" (click)="Eliminar(paciente.Id)" >
	      <ion-icon name="archive"></ion-icon>&nbsp;Eliminar paciente
   		 </button> -->
	   </ion-item>
	</ion-card-content>
</ion-card>

    </form>
</ion-content>
