<!--
  Generated template for the OrdenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs class="tabs-icon-text">
	<ion-tab tabIcon="folder" tabTitle="Categorias" [root]="tabCategorias" ></ion-tab>
	<ion-tab tabIcon="list" tabTitle="Orden" [root]="" enabled="false"></ion-tab>
	<ion-tab tabIcon="images" tabTitle="Tomografia/Fotografia" [root]="tabTomografiaFotografia" enabled="false"></ion-tab>
	<ion-tab tabIcon="person" tabTitle="Paciente" [root]="tabPaciente" enabled="false"></ion-tab>
	<ion-tab tabIcon="send" tabTitle="Envio" [root]="tabEnvio" enabled="false"></ion-tab>
</ion-tabs>