<!--
  Generated template for the ValidatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Panoramax</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<form>
		<ion-list no-lines>
			<ion-item>
				<h4>Se ha enviado un código de<br>verificación SMS</h4>
			</ion-item>
			<ion-item>
				<ion-label>
					<ion-icon name="person-add"></ion-icon>
				</ion-label>
				<ion-input type="text" placeholder="Codigo de seguridad" [(ngModel)]="loginData.clave" [ngModelOptions]="{standalone: true}"></ion-input>  
			</ion-item>
			<ion-item>
				<button ion-button round full type="submit" [color]="Blue"  (click)="Validar()">
					<ion-icon name="checkmark"></ion-icon>&nbsp;Enviar código
				</button>
			</ion-item>
		</ion-list>
	</form>
</ion-content>
