<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Panoramax</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ng-container *ngIf="pedidos.length > 0">
    <!--
    <div class="spacer" style="height: 12px;"></div>
    <h4 class="text-center">Estos son tus ultimas ordenes</h4>
    <div class="spacer" style="height: 12px;"></div>
  -->
    <ion-label class="mensaje">
    Estos son tus ultimas ordenes
    </ion-label>
  </ng-container>

  <ng-container *ngIf="pedidos.length==0">
    <div class="spacer" style="height: 240px;"></div>
    <h3 class="text-center">Aun no tienes ordenes <i class="icon ion-sad-outline"></i></h3>
    <div class="spacer" style="height: 12px;"></div>
  </ng-container>
  <ion-list>
    <ion-option *ngFor="let dir of pedidos">
     <ion-card>
      <!-- <ion-card-header>Bienvenidos</ion-card-header> -->
      <ion-card-content > 
       <button  class="buttonprofilesec" ion-button round full color="danger" (click)="VerDetalle(dir)">
        <ion-icon name="copy"></ion-icon>
      </button> 
      <h2>{{ dir.Paciente.nombres}} {{ dir.Paciente.apellidos}}</h2>
      <p>{{ dir.createdAt | date:'dd/MM/yyyy hh:mma' }}</p>
      <ion-label *ngIf="dir.TipoEstadoId == 1 ">Estado del pedido.. Enviado </ion-label>
      <ion-label *ngIf="dir.TipoEstadoId == 2 ">Estado del pedido.. Atendido </ion-label>
    </ion-card-content>
  </ion-card>
</ion-option>
</ion-list>



</ion-content>
