<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Panoramax</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-slides style="height: 150px;" (ionSlideDidChange)="slideChanged()" >   
		<ion-slide *ngFor="let img of banners">
			<div class="box blue">
				<img [src]="img.imagen" alt="Imagen">
			</div> 
		</ion-slide>
	</ion-slides>
	<ion-item>
		<ion-label>Bienvenidos</ion-label>
	</ion-item>
	<ion-list>
		<ion-list-header>
			Gracias por remitirnos sus pacientes
		</ion-list-header>
		<ion-item>
			<button ion-button round block icon-start text-wrap class="botonCategorias" (click)="crearNuevaOrden()">
				<ion-icon name="add-circle"></ion-icon>
				Crear una nueva orden
			</button>
		</ion-item>
		<ion-item>
			<button ion-button round block icon-start text-wrap class="botonCategorias" (click)="consultarOrdenes()">
				<ion-icon name="list-box"></ion-icon>
				Consultar ordenes
			</button>
		</ion-item>
	</ion-list>
<!--
	<ion-card>
		<ion-item>
			<ion-title>Bienvenidos</ion-title>
		</ion-item>
		<ion-card-content>
			Gracias por remitirnos sus pacientes
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content>
			<button ion-button round block large icon-start (click)="crearNuevaOrden()">
				<ion-icon name="add-circle"></ion-icon>
				Crear una nueva orden
			</button>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content>
			<button ion-button round block large icon-start>
				<ion-icon name="list-box"></ion-icon>
				Consultar ordenes
			</button>
		</ion-card-content>
	</ion-card>
-->
</ion-content>