page-home {

}

.logo-panoramax {
	/*
	display: block;
    margin: auto;
	max-width: 50%;
    height: auto;
    opacity: 0.25;
    filter: alpha(opacity=25); /* For IE8 and earlier */
	
	float: left; width: 50%;
}

.container {
    position: relative;
}

.texto-logo {
/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/
	float: right; width: 50%;
}