<ion-header>
  <ion-navbar>
    <ion-title>Panoramax</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<form ng-submit="doUpdateProfile()">
   <div class="spacer" style="height: 10px;"></div>
   <h3 style="text-align: center;">Direcciones del perfil</h3>
   <div class="spacer" style="height: 15px;"></div>
   <ion-list>
    <ion-option *ngFor="let dir of direcciones">
     <ion-card>
      <!-- <ion-card-header>Bienvenidos</ion-card-header> -->
      <ion-card-content >
        <ion-item>
          <ion-label>Categoría</ion-label>
          <ion-select [(ngModel)]="dir.tipoDireccion" [ngModelOptions]="{standalone: true}" >
            <ion-option value="Avenida">Avenida</ion-option>
            <ion-option value="Calle">Calle</ion-option>
            <ion-option value="Carrera">Carrera</ion-option>
            <ion-option value="Diagonal">Diagonal</ion-option>
            <ion-option value="Manzana">Manzana</ion-option>
            <ion-option value="Transversal">Transversal</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          
          <ion-input type="text" [(ngModel)]="dir.Num1" [ngModelOptions]="{standalone: true}" >
          </ion-input>
          
          <ion-input type="text" [(ngModel)]="dir.Num2" [ngModelOptions]="{standalone: true}" >
          </ion-input>

          <ion-input type="text" [(ngModel)]="dir.Num3" [ngModelOptions]="{standalone: true}">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="dir.nombre" [ngModelOptions]="{standalone: true}" >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="dir.Descripcion" [ngModelOptions]="{standalone: true}" >
          </ion-input>
        </ion-item>
        <div class="spacer" style="height: 15px;"></div>
        <ion-item>
         <button class="buttonprofilesec" type="submit" ion-button round block color="energized" (click)="Editar(dir)" >
          <ion-icon name="refresh-circle"></ion-icon>&nbsp;Actualizar
        </button>
        <button class="buttonprofilesec" type="submit" ion-button round block color="energized" (click)="Eliminar(dir.Id)" >
          <ion-icon name="trash"></ion-icon>&nbsp;Borrar
        </button>
      </ion-item>
    </ion-card-content>       
  </ion-card>
</ion-option>
</ion-list>
<ion-item>
  <button type="submit" ion-button round block  [color]="Blue" (click)="Buscar()" >
    <ion-icon name="add-circle"></ion-icon>&nbsp;Nueva Dirección
  </button>
</ion-item>

</form>

</ion-content>
