
<ion-header>
  <ion-navbar>
    <ion-title>Panoramax</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	 <form ng-submit="nvaDireccion()" name="frmNvaDir">
	 	<div class="spacer" style="height: 10px;"></div>
      <h4 style="text-align: center">Agrega una nueva dirección a tu perfil</h4>
      <div class="spacer" style="height: 20px;"></div>
	 <ion-list>
            <ion-item>
              <ion-label>Categoría</ion-label>
              <ion-select [(ngModel)]="direccion.tipoDireccion" [ngModelOptions]="{standalone: true}" >
	              <ion-option value="Avenida">Avenida</ion-option>
		          <ion-option value="Calle">Calle</ion-option>
		          <ion-option value="Carrera">Carrera</ion-option>
		          <ion-option value="Diagonal">Diagonal</ion-option>
		          <ion-option value="Manzana">Manzana</ion-option>
		          <ion-option value="Transversal">Transversal</ion-option>
              </ion-select>
            </ion-item>
        <ion-item>
			    <ion-input type="text" placeholder="1a" [(ngModel)]="direccion.Num1" [ngModelOptions]="{standalone: true}"  >
			    </ion-input>
			    <ion-input type="text" placeholder="30" [(ngModel)]="direccion.Num2" [ngModelOptions]="{standalone: true}"  >
			    </ion-input>
			    <ion-input type="text" placeholder="15" [(ngModel)]="direccion.Num3" [ngModelOptions]="{standalone: true}"  >
			    </ion-input>
		    </ion-item>
			<ion-item>
			    <ion-input type="text" placeholder="Nombre" [(ngModel)]="direccion.nombre" [ngModelOptions]="{standalone: true}"  >
			    </ion-input>
			</ion-item>
		 	<ion-item>
			    <ion-input type="text" placeholder="Descripción" [(ngModel)]="direccion.Descripcion" [ngModelOptions]="{standalone: true}"  >
			    </ion-input>
		    </ion-item>
        <div class="spacer" style="height: 15px;"></div>            
	 </ion-list>
	 <ion-item>
	  <button type="submit" ion-button round full [color]="Blue"  (click)="Guardar()" >
      <ion-icon name="archive"></ion-icon>&nbsp;Guardar dirección
    </button>
</ion-item>
    </form>

</ion-content>


