
<ion-header>
	<ion-navbar>
		<ion-title>Panoramax</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-label class="tituloCategoria">
		Detalle de la orden
	</ion-label>
<ion-grid>
	<ng-container *ngFor="let pedido of detallesFinal">
		<ion-row>
			<ion-col>
				<ion-list-header class="categoria">
					<ion-label>
						{{ pedido.name}}
					</ion-label>
				</ion-list-header>
			</ion-col>
		</ion-row>
		<ion-grid>
			<ion-row>
				<ng-container *ngFor="let subCategoria of pedido.subs" [ngSwitch]="subCategoria.CssClass">

					<ion-col *ngIf="subCategoria.Id == 43 || subCategoria.Id == 46 || subCategoria.Id == 54 || subCategoria.Id == 60 || subCategoria.Id == 95 || subCategoria.Id == 98 || subCategoria.Id == 99 || subCategoria.Id == 102 || subCategoria.Id == 113 || subCategoria.Id == 116 || subCategoria.Id == 117 || subCategoria.Id == 118 || subCategoria.Id == 120 || subCategoria.Id == 126"  [attr.col-12]="true" class="subcategoria">
						<ion-item>
							<ion-label class="tituloSubCategoria">
								{{ subCategoria.clase }}
							</ion-label>
						</ion-item>
					</ion-col>

					<ion-col *ngSwitchCase="'col-100'" [attr.col-12]="true" class="subcategoria">
						<ion-item>
							<ion-label>
								{{subCategoria.name}}
							</ion-label>
						</ion-item>
					</ion-col>

					<ion-col *ngSwitchCase="'col-50'" [attr.col-6]="true" class="subcategoria">
						<ion-item>
							<ion-label>
								{{subCategoria.name}}
							</ion-label>
						</ion-item>
					</ion-col>

					<ion-col *ngSwitchCase="'col-33'" [attr.col-4]="true" class="subcategoria">
						<ion-item>
							<ion-label>
								{{subCategoria.name}}
							</ion-label>
						</ion-item>
					</ion-col>

				</ng-container>
			</ion-row>
		</ion-grid>
	</ng-container>
</ion-grid>
	<ion-list-header class="categoria">
		Tipos de entrega
	</ion-list-header>
	<ng-container *ngFor="let entrega of mediosEntrega">
		<ion-col >
			<ion-item>
				<ion-label>
					{{entrega.TipoEntregaResultado.nombre}}
				</ion-label>
			</ion-item>
		</ion-col>
	</ng-container>
	<ion-list-header class="categoria">
	Observaciones
	</ion-list-header>
		<ion-item>
			<ion-label>
				{{observacion}}
			</ion-label>
		</ion-item>
	</ion-content>
