<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Panoramax</ion-title>
		<ion-buttons end>
			<button ion-button round icon-left (click)="cancelarOrden()">
				<ion-icon name="arrow-dropleft"></ion-icon>Cancelar
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-list-header>
			<ion-label class="mensaje">Seleccione la categoria de su orden</ion-label>
		</ion-list-header>
		<ion-item (click)="switchTabs(1)" >
			<img  class="imagenBoton" src="assets/img/ortodonciacirugia.png"/>
			<button ion-button large round block icon-end text-wrap>
				Ortodoncia y Cirugia
				<ion-icon name="arrow-dropright-circle"></ion-icon>
			</button>
		</ion-item>
		<ion-item  (click)="switchTabs(2)">
			<img class="imagenBoton" src="assets/img/radiografiatomografia.png"/>
			<button ion-button large round block icon-end text-wrap>
				Radiografia y Tomografia
				<ion-icon name="arrow-dropright-circle"></ion-icon>
			</button>
		</ion-item>
	</ion-list>
<!--
	<ion-card>
		<ion-item>
			<ion-title>Seleccione la categoria de su orden</ion-title>
		</ion-item>
		<ion-card-content>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content>
			<button ion-button large round block icon-start (click)="switchTabs(1)">
				<ion-icon name="checkmark"></ion-icon>
				Ortodoncia y Cirugia
			</button>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content>
			<button ion-button large round block icon-start (click)="switchTabs(2)">
				<ion-icon name="checkmark"></ion-icon>
				Radiografia y Tomografia
			</button>
		</ion-card-content>
	</ion-card>
-->
</ion-content>
