// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.imagenBoton{
	text-align: center !important;	
}

.categoria{
	background-color: #F5F5F5 !important;
	color: #FF880A !important;

	font-size: 1.5em !important;

	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

.subcategoria{
	color: #000 !important;
	font-size: 1em !important;

	height: 35px !important;

	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

.mensaje{
	font-size: 1.2em !important;
	//text-align: justify !important;
	color: #000 !important;
}

.tituloCategoria{
	color: #A8462B !important;
	font-size: 1.5em !important;
	padding: 20px 0px 20px 0px !important;
}

.tituloSubCategoria{
	color: #A8462B !important;
	//font-size: 20px !important;
}

.botonCategorias{
	font-size: 1.5em !important;
	//background : #F5F5F5 !important;
	//color: #0f0f0f !important;
	height: 3em !important;
}

.etiquetaTextBox{
	color: #000000 !important;
}

ion-grid, ion-row, ion-col{
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

ion-card-header{
	text-align: center !important;
}

$label-md-text-color: #000000;
