<!--
  Generated template for the RadiologiaTomografiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Panoramax</ion-title>
		<ion-buttons end>
			<button ion-button round icon-left (click)="cancelarOrden()">
				<ion-icon name="arrow-dropleft"></ion-icon>Cancelar
			</button>
			<button ion-button round icon-right (click)="switchTabs()">
				Siguiente<ion-icon name="arrow-dropright"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>
			<img src="assets/img/logo.gif">
		</ion-card-header>
		<ion-card-content class="mensaje">
			Seleccione uno a uno los servicios que desee dentro de todas nuestras categorias
		</ion-card-content>
	</ion-card>
	<ion-grid>
		<ng-container *ngFor="let categoria of categorias">
			<ion-row>
				<ion-col [attr.col-12]="true">
					<ion-list-header class="categoria">
						<!--
						<ion-checkbox [(ngModel)]="checkboxes['C'+categoria.Id]" (click)="gestionItemPedido(categoria.Id, null)"></ion-checkbox>
					-->
						<ion-label>{{categoria.nombre}}</ion-label>
					</ion-list-header>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-grid>
					<ion-row>
						<ng-container *ngFor="let subCategoria of categoria.SubCategoria">

							<ion-col *ngIf="subCategoria.Id == 95 || subCategoria.Id == 98 || subCategoria.Id == 99 || subCategoria.Id == 102 || subCategoria.Id == 113 || subCategoria.Id == 116 || subCategoria.Id == 117 || subCategoria.Id == 118 || subCategoria.Id == 120 || subCategoria.Id == 126"  [attr.col-12]="true" class="subcategoria">
								<ion-item>
									<ion-label class="tituloSubCategoria">
										{{subCategoria.clase}}
									</ion-label>
								</ion-item>
							</ion-col>

							<ion-col *ngIf="subCategoria.CssClass == 'col-100'" [attr.col-12]="true" class="subcategoria">
								<ion-item >

									<ion-checkbox [(ngModel)]="checkboxes[categoria.Id +''+ subCategoria.Id]" *ngIf="subCategoria.campo == 'check'" (click)="gestionItemPedido(categoria.Id, subCategoria.Id)"></ion-checkbox>
									<ion-label *ngIf="subCategoria.campo != 'texto' && subCategoria.campo != 'mcpu'">{{subCategoria.nombre}}</ion-label>

									<ion-title *ngIf="subCategoria.campo == 'mcpu'">{{subCategoria.clase}}</ion-title>

									<ion-label class="etiquetaTextBox" *ngIf="subCategoria.campo == 'texto'">{{subCategoria.nombre}}</ion-label>
									<ion-input placeholder="Escribe aquí" type="text" *ngIf="subCategoria.campo == 'texto'" [(ngModel)]="checkboxes[categoria.Id +''+ subCategoria.Id]" (ngModelChange)="actualizarCampo(categoria.Id, subCategoria.Id)"></ion-input>
								</ion-item>
							</ion-col>

							<ion-col *ngIf="subCategoria.CssClass == 'col-50'" [attr.col-6]="true" class="subcategoria">
								<ion-item >

									<ion-checkbox [(ngModel)]="checkboxes[categoria.Id +''+ subCategoria.Id]" *ngIf="subCategoria.campo == 'check'" (click)="gestionItemPedido(categoria.Id, subCategoria.Id)"></ion-checkbox>
									<ion-label *ngIf="subCategoria.campo != 'texto' && subCategoria.campo != 'mcpu'">{{subCategoria.nombre}}</ion-label>

									<ion-label *ngIf="subCategoria.campo == 'texto'">{{subCategoria.nombre}}</ion-label>
									<ion-input type="text" *ngIf="subCategoria.campo == 'texto'" [(ngModel)]="subCategoria.id" (ngModelChange)="actualizarCampo(categoria.Id, subCategoria.Id)"></ion-input>

								</ion-item>
							</ion-col>

							<ion-col *ngIf="subCategoria.CssClass == 'col-33'" [attr.col-4]="true" class="subcategoria">
								<ion-item >

									<ion-checkbox [(ngModel)]="checkboxes[categoria.Id +''+ subCategoria.Id]" *ngIf="subCategoria.campo == 'check'" (click)="gestionItemPedido(categoria.Id, subCategoria.Id)"></ion-checkbox>
									<ion-label *ngIf="subCategoria.campo != 'texto' && subCategoria.campo != 'mcpu'">{{subCategoria.nombre}}</ion-label>

								</ion-item>
							</ion-col>
						</ng-container>
					</ion-row>
				</ion-grid>
			</ion-row>
		</ng-container>
	</ion-grid>
</ion-content>
