<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Paciente</ion-title>
     <button class="button button-assertive" ng-click="cerrarNvaPaciente()"><i class="icon ion-close"></i></button>
  </ion-navbar>
</ion-header>
<ion-content padding>
	 <form ng-submit="nvaPaciente()" >
      <div class="spacer" style="height: 30px;"></div>
      <h4 class="text-center">Agrega un nuevo Paciente</h4>
      <div class="spacer" style="height: 30px;"></div>
      <ion-list>
        <ion-item>
	    <ion-label>
	       <ion-icon name="person-add"></ion-icon>
		    </ion-label>
		    <ion-input type="person" placeholder="Nombres" [(ngModel)]="paciente.nombres" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="person-add"></ion-icon>
		    </ion-label>
		    	<ion-input type="person" placeholder="Apellidos" [(ngModel)]="paciente.apellidos" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="call"></ion-icon>
		    </ion-label>
		    	<ion-input type="number" placeholder="Telefono" [(ngModel)]="paciente.telefono" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="card"></ion-icon> 
		    </ion-label>
		    	<ion-input type="number" placeholder="Edad" [(ngModel)]="paciente.edad" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="mail"></ion-icon>
		    </ion-label>
		    	<ion-input type="email" placeholder="Email" [(ngModel)]="paciente.email" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 	<ion-label>
	       		<ion-icon name="card"></ion-icon>
		    </ion-label>
		    	<ion-input type="number" placeholder="Ingrese su identificación" [(ngModel)]="paciente.cedula" [ngModelOptions]="{standalone: true}" >
	    	</ion-input>
	 	 </ion-item>
	 	 <ion-item>
	 	 <ion-label>
	       		<label>Fecha de nacimiento:</label>
		    </ion-label>
		    	
		    		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="paciente.fechaNacimiento" [ngModelOptions]="{standalone: true}"></ion-datetime>
	 	 </ion-item>
      </ion-list>
      <button class="buttonprofile" type="submit" ion-button round full color="submit" (click)="Guardar()" [navPush]="EnvioPage" >
      <ion-icon name="archive"></ion-icon>&nbsp;Guardar paciente
    </button>
    </form>
</ion-content>