<ion-header>
  <ion-navbar>
    <ion-title>Panoramax</ion-title>
  </ion-navbar>
</ion-header>
<!--
<ion-header>

  <ion-navbar>
    <img src="assets/img/logo.gif" class="logo-panoramax">
    <ion-title class="texto-logo">Registro de doctores</ion-title>  
  </ion-navbar>

</ion-header>
-->
<!--ion-view class="signup" view-title="Registrate"-->
<ion-content padding>
  <form>

    <ion-list no-lines>

      <ion-item>
        <ion-label>
          <ion-icon name="person-add"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Nombre" [(ngModel)]="usr.nombres" [ngModelOptions]="{standalone: true}"></ion-input>  
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="person-add"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Apellido" [(ngModel)]="usr.apellidos" [ngModelOptions]="{standalone: true}"></ion-input>  
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="home"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Nombre de Consultorio" [(ngModel)]="empresa.nombre" [ngModelOptions]="{standalone: true}"></ion-input>  
      </ion-item>

      <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-select [(ngModel)]="empresa.tipoDireccion" [ngModelOptions]="{standalone: true}">
          <ion-option value="Avenida">Avenida</ion-option>
          <ion-option value="Calle">Calle</ion-option>
          <ion-option value="Carrera">Carrera</ion-option>
          <ion-option value="Diagonal">Diagonal</ion-option>
          <ion-option value="Manzana">Manzana</ion-option>
          <ion-option value="Transversal">Transversal</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="1A" [(ngModel)]="empresa.Num1" [ngModelOptions]="{standalone: true}"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label>#</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="23" [(ngModel)]="empresa.Num2" [ngModelOptions]="{standalone: true}"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="45" [(ngModel)]="empresa.Num3" [ngModelOptions]="{standalone: true}"></ion-input>  
      </ion-item>




      <ion-item>
        <ion-label>
          <ion-icon name="home"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Descripción direccion" [(ngModel)]="empresa.Descripcion" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Teléfono" [(ngModel)]="usr.telefono" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="Correo Electrónico " [(ngModel)]="usr.correo" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

<!--
      <ion-item>
        <ion-label>
          <ion-icon name="key"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Ingrese su clave" [(ngModel)]="usr.Clave" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    -->

    <ion-item>
      <ion-label>Acepto los terminos de referencia</ion-label>
      <ion-checkbox [(ngModel)]="usr.Terminos" [ngModelOptions]="{standalone: true}"></ion-checkbox>
    </ion-item>

    <ion-item>
      <button ion-button round full type="submit" [color]="Blue"  (click)="SignUp()">
        <ion-icon name="add-circle"></ion-icon>&nbsp;Registrarme
      </button>
    </ion-item>

  </ion-list>


  
</form>
</ion-content>
