page-sign-up {
  height: 100vh;

  .img{
    display: block;
    margin: 0 auto;
    width: 40%;

  }
  .buttonprofilesec{
   margin-top: 5%;
  }

  .logo-prevenir{
    width:80%;
    height:50%;
  } 
}