<!--
  Generated template for the FotografiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Panoramax</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>
			<img src="assets/img/logo.gif" class="logo-panoramax">
		</ion-card-header>
		<ion-card-content>
			Seleccione uno a uno los servicios que desee dentro de todas nuestras categorias
		</ion-card-content>
	</ion-card>
	<ion-grid>
		<ng-container *ngFor="let categoria of categorias">
			<ng-container *ngIf="categoria.Id == 13">

				<ion-row>
					<ion-col [attr.col-12]="true">
						<ion-list-header>
							<ion-checkbox [(ngModel)]="categoria.id"></ion-checkbox>
							<ion-label>{{categoria.nombre}}</ion-label>
						</ion-list-header>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-grid>
						<ion-row>
							<ng-container *ngFor="let subCategoria of categoria.SubCategoria">

								<ion-col *ngIf="subCategoria.Id == 95 || subCategoria.Id == 98 || subCategoria.Id == 99 || subCategoria.Id == 102 || subCategoria.Id == 113 || subCategoria.Id == 116 || subCategoria.Id == 117 || subCategoria.Id == 118 || subCategoria.Id == 120 || subCategoria.Id == 126"  [attr.col-12]="true">
									<ion-item>
										<ion-label>
											{{subCategoria.clase}}
										</ion-label>
									</ion-item>
								</ion-col>

								<ion-col *ngIf="subCategoria.CssClass == 'col-100'" [attr.col-12]="true">
									<ion-item>

										<ion-checkbox *ngIf="subCategoria.campo == 'check'" [(ngModel)]="subCategoria.id"></ion-checkbox>
										<ion-label *ngIf="subCategoria.campo != 'texto' && subCategoria.campo != 'mcpu'">{{subCategoria.nombre}}</ion-label>

										<ion-label *ngIf="subCategoria.campo == 'mcpu'">{{subCategoria.clase}}</ion-label>

										<ion-label fixed *ngIf="subCategoria.campo == 'texto'">{{subCategoria.nombre}}</ion-label>
										<ion-input type="text" *ngIf="subCategoria.campo == 'texto'" [(ngModel)]="subCategoria.id"></ion-input>

									</ion-item>
								</ion-col>

								<ion-col *ngIf="subCategoria.CssClass == 'col-50'" [attr.col-6]="true">
									<ion-item >

										<ion-checkbox *ngIf="subCategoria.campo == 'check'" [(ngModel)]="subCategoria.id"></ion-checkbox>
										<ion-label *ngIf="subCategoria.campo != 'texto'">{{subCategoria.nombre}}</ion-label>

										<ion-label stacked *ngIf="subCategoria.campo == 'texto'">{{subCategoria.nombre}}</ion-label>
										<ion-input type="text" *ngIf="subCategoria.campo == 'texto'" [(ngModel)]="subCategoria.id"></ion-input>

									</ion-item>
								</ion-col>

								<ion-col *ngIf="subCategoria.CssClass == 'col-33'" [attr.col-4]="true">
									<ion-item >
										<ion-checkbox *ngIf="subCategoria.campo == 'check'" [(ngModel)]="subCategoria.id"></ion-checkbox>
										<ion-label *ngIf="subCategoria.campo != 'texto'">{{subCategoria.nombre}}</ion-label>
									</ion-item>
								</ion-col>

							</ng-container>
						</ion-row>
					</ion-grid>
				</ion-row>	
			</ng-container>			
		</ng-container>
	</ion-grid>
	<ion-item>
		<button ion-button round full type="submit" [color]="Blue">
			<ion-icon name="checkmark"></ion-icon>Agregar
		</button>
	</ion-item>
</ion-content>